#content {
  background-color: var(--sys-color-surface-container);
  color: var(--sys-color-on-surface);
}

#splash {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 5px 2px;
  display: block;
  height: 80px;
  object-fit: cover;
  width: 100%;
}

article {
  max-width: 800px;
  margin: auto;
  padding: 0 24px 32px 24px;
}

a {
  font-weight: 600;
}

h1 {
  color: var(--sys-color-on-background-emphasis);
  font-size: 42px;
  font-weight: 400;
}

.author img {
  border: 1px solid var(--sys-color-outline);
}

img.flame {
  background-color: var(--sys-color-surface-container);
  box-sizing: border-box;
  padding: 5%;
}

#footerTop {
  border-top: 1px solid var(--sys-color-primary);
}
