#content {
  background-color: var(--sys-color-surface-container);
  color: var(--sys-color-on-surface);
}

article {
  max-width: 800px;
  margin: auto;
  padding: 0 24px 32px 24px;
}

a {
  font-weight: 600;
}

h1 {
  color: var(--sys-color-on-background-emphasis);
  font-size: 42px;
  font-weight: 400;
}

.author img {
  border: 1px solid var(--sys-color-outline);
}

img.flame {
  background-color: var(--sys-color-surface-container);
  box-sizing: border-box;
  padding: 5%;
}

#footerTop {
  border-top: 1px solid var(--sys-color-primary);
}

/* Splash animation */
#splash {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
}

#splash .bg {
  background-color: transparent;
  animation: slide 17s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--color-blue) 50%,
    var(--color-cyan) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: absolute;
  right: -50%;
  top: 0;
  filter: blur(50px);
}

#splash .bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 19s;
  background-image: linear-gradient(
    60deg,
    var(--color-blue) 50%,
    var(--color-cyan) 50%
  );
}

#splash .bg3 {
  animation-duration: 23s;
  animation-name: slide;
  animation-timing-function: ease;
  background-image: linear-gradient(
    60deg,
    var(--color-blue) 50%,
    var(--color-cyan) 50%
  );
}

#splash .bg4 {
  animation-direction: alternate-reverse;
  animation-duration: 29s;
  animation-name: slide;
  animation-timing-function: ease;
}

@media (prefers-reduced-motion) {
  .bg {
    animation-name: none !important;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
