html {
  --playground-code-font-family: "Roboto Mono", monospace;
  --playground-code-font-size: 13px;
  --playground-code-line-height: 1.8em;
  --playground-code-padding: 0.5em 0 0.5em 1em;
  --playground-highlight-color: #005cc5;
  --playground-code-keyword-color: #d73a49;
  --playground-code-atom-color: #005cc5;
  --playground-code-number-color: #005cc5;
  --playground-code-def-color: #6f42c1;
  --playground-code-variable-color: #6f42c1;
  --playground-code-property-color: #e36209;
  --playground-code-operator-color: #d73a49;
  --playground-code-variable-2-color: #000000;
  --playground-code-variable-3-color: #000000;
  --playground-code-type-color: #005cc5;
  --playground-code-comment-color: #6a737d;
  --playground-code-string-color: #032f62;
  --playground-code-string-2-color: #032f62;
  --playground-code-meta-color: #000000;
  --playground-code-qualifier-color: #6f42c1;
  --playground-code-builtin-color: #6f42c1;
  --playground-code-tag-color: #032f62;
  --playground-code-attribute-color: #6f42c1;
  --playground-code-callee-color: #005cc5;
}

.CodeMirror {
  overflow-y: auto;
}
