#content {
  padding: 24px;
}

/** Hero */

.hero {
  margin: 100px auto;
  max-width: 800px;
  text-align: center;
}

.hero-title {
  position: relative;
  margin-bottom: -14px;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.3em;
  color: #1e88e5;
}

.hero-title::after {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 48px;
  content: "";
}

.hero-caption {
  font-size: 28px;
  font-weight: 300 !important;
  color: #808080;
}

/** Main Example */

.wrapper.example {
  max-width: 660px;
  margin: 48px auto;
}

.example .CodeMirror {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 0 20px;
  overflow-y: auto !important;
  margin-bottom: 20px;
  background-color: inherit !important;
}

/** Use Cases */

.use-case-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #a5d3ff 0%,#69b6ff 100%);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
}

@media (min-width: 900px) {
  #use-cases {
    margin: 0 -24px;
  }
  .wrapper.use-cases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 24px;
    padding: 48px 24px;
    margin: 0 auto;
  }
  .use-case-card {
    margin: 0;
  }
}

.use-case-card h3 {
  flex: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  letter-spacing: .5px;
  margin-top: 0;
  color: #002e5a;
  font-weight: 400;
}

.use-case-card > p {
  flex: auto;
  margin-top: 0;
}

.learn-more {
  flex: 0;
  text-align: right;
}

.learn-more > a {
  color: inherit;
  text-decoration: none;
  border: solid 1px #00000044;
  padding: 4px 8px;
  border-radius: 5px;
}

.learn-more > a:hover {
  text-decoration: underline;
}

/** Features */

section#features {
  background: #1e88e5;
  color: white;
  column-width: 400px;
  column-gap: 48px;
  padding: 24px;
  margin: 0 -24px;
}

section#features h3 {
  color: white;
}

.feature-card {
  display: flex;
  line-height: 1.4;
  padding-bottom: 24px;
  break-inside: avoid;
}

.feature-card-icon {
  align-self: baseline;
  background: #69b6ff88;
  --mdc-icon-size: 48px;
  --mdc-icon-font: 'Material Icons Outlined';
  border-radius: 50%;
  padding: 8px;
  margin-right: 24px;
}

.feature-card-text h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  letter-spacing: .5px;
  margin-top: 0;
}

/** Used By */

.used-by-logos {
  text-align: center;
}

.used-by {
  display: inline-block;
  filter: grayscale(100%);
  opacity: 70%;
  margin: 24px;
  zoom: 50%;
  vertical-align: middle;
}

.used-by:hover {
  filter: none;
  opacity: unset;
}

#used-by h2 {
  text-align: center;
  font-weight: 400;
  margin-top: 48px;
  color: #4c4c4c;
  font-size: 28px;
}
