#footerTop {
  height: var(--footer-top-height);
  background-color: var(--sys-color-surface-container-lowest);
  color: var(--sys-color-on-surface);
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--header-footer-max-width, unset);
  margin: var(--header-footer-margin, unset);
}

#footerNameAndLogo lazy-svg {
  display: flex;
}

#footerNameAndLogo {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#footerFlame {
  height: 3.5em;
  width: 2.8em;
}

#footerName {
  height: 2.14em;
  width: 3.24em;
}

#footerSocialLinks {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#footerSocialLinks > a {
  padding: 0.5em;
  width: 1.67em;
  height: 1.67em;
  color: var(--sys-color-on-background-dim);
}

#footerSocialLinks > a:hover {
  color: var(--sys-color-on-background-emphasized);
}

#footerSocialLinks > a > lazy-svg::part(svg) {
  width: 100%;
  height: 100%;
}

#footerBottom {
  height: var(--footer-bottom-height);
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.7em;
}

#footerBottom > p > a {
  color: var(--sys-color-primary);
}

#footerBottom > p > a:hover {
  text-decoration: underline;
}

@media (max-width: 864px) {
  #footerTop {
    flex-direction: column;
    justify-content: space-around;
  }

  #footerNameAndLogo {
    flex-direction: column;
    align-items: center;
    flex: unset;
  }

  #footerFlame {
    order: -1;
    height: 6.5em;
    width: 5.2em;
    margin-bottom: 2em;
  }

  #footerSocialLinks {
    flex: unset;
  }

  #footerSocialLinks > a {
    margin: 0 0.5em;
  }

  #footerBottom {
    font-size: 0.8em;
  }
}
