/* Variables */

body {
  --lhs-nav-width: 240px;
  --rhs-toc-width: 240px;
}

/* LHS nav */

main {
  display: flex;
}

.lhs-nav-wrapper {
  width: var(--lhs-nav-width);
  flex-shrink: 0;
}

.lhs-nav {
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  padding: 20px 20px 0 0;
  box-sizing: border-box;
}

/* Article */

article {
  flex-grow: 1;
  overflow-x: auto;
  padding: 32px 24px;
  line-height: 1.5em;
  font-size: 16px;
}

article [id] {
  /* Adjust scroll margins of all article headings to account for sticky header.
     Otherwise, we'll scroll headings underneath the header. Add a little bit
     more too, for some extra breathing room. */
  scroll-margin-top: calc(var(--header-height) + 12px);
}

article > h1:first-of-type {
  /* The default margin of the first heading extends above the article, which
     complicates layout a bit. We have padding-top on the article itself. */
  margin-top: 0;
}

article p {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}

/* Alert styles for notes and warnings */

.alert {
  position: relative;
  margin: 24px 0;
  padding: 1px 20px 1px 56px;
  box-shadow: 0 0 2px #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

.alert::before {
  position: absolute;
  top: 17px;
  left: 17px;
}

.alert.alert-info::before {
  content: url(/images/alerts/info.svg);
}

.alert.alert-warning::before {
  content: url(/images/alerts/warning.svg);
}

/* Inline TOC */

.inline-toc {
  /* Only visible in narrow layout. */
  display: none;
}

.inline-toc ol {
  list-style: disc;
}

/* RHS TOC */
.rhs-toc-wrapper {
  width: var(--rhs-toc-width);
  flex-shrink: 0;
  /* For some reason, when the natural DOM order is article > TOC, there is a
     layout flash (easier to see with CPU throttling on). If we switch the
     natural order to TOC > article, then change it here with CSS order, the
     flash goes away. This order is probably better for screen-readers anyway.
     */
  order: 2;
}

.rhs-toc {
  position: sticky;
  top: calc(var(--header-height) + 60px);
  height: calc(100vh - var(--header-height) - 60px);
  overflow-y: auto;
  font-size: 12px;
}

.rhs-toc > h2 {
  color: #4a4a4a;
  margin-bottom: 20px;
}

/* First level */
.rhs-toc > div > ol {
  padding-left: 0;
  list-style: none;
}

/* Second level */
.rhs-toc > div > ol > li > ol {
  padding-left: 0;
  list-style: none;
}

.rhs-toc a {
  padding: 4px 0;
  display: block;
}

.rhs-toc > div > ol > li > a {
  padding-left: 12px;
}

.rhs-toc > div > ol > li > ol > li > a {
  padding-left: 24px;
}

.rhs-toc a {
  color: #383838;
  border-left: 3px solid #eee;
}

.rhs-toc a:hover {
  color: black;
  border-color: #9a9a9a;
}

.rhs-toc a.active {
  border-color: #1879cd;
  font-weight: 500;
}

/* Slightly narrow layout (hide RHS TOC) */

@media (max-width: 899px) {
  .inline-toc {
    display: initial;
  }
  .inline-toc summary {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .rhs-toc-wrapper {
    display: none;
  }
}

/* Very narrow layout (hide LHS nav) */

@media (max-width: 699px) {
  .lhs-nav-wrapper {
    display: none;
  }
}
