/* Variables */

body {
  --lhs-nav-width: 240px;
  --rhs-toc-width: 240px;
}

/* LHS nav */

.lhs-nav {
  position: fixed;
  top: var(--header-height);
  width: var(--lhs-nav-width);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  padding: 20px 20px 0 0;
  box-sizing: border-box;
}

/* Article */

article {
  margin-left: var(--lhs-nav-width);
  margin-right: var(--rhs-toc-width);
  padding: 32px 24px;
  line-height: 1.5em;
  font-size: 15px;
}

article [id] {
  /* Adjust scroll margins of all article headers to account for sticky header.
     Otherwise, we'll scroll the header underneath the header. Add a little bit
     more too, since that gives some more breathing room. */
  scroll-margin-top: calc(var(--header-height) + 12px);
}

article h2:first-of-type {
  /* Additional scroll margin for the first scrollable heading (the h1 doesn't
     count), so that we scroll to the very top in that case, instead of slightly
     below it. */
  scroll-margin-top: calc(var(--header-height) + 100px);
}

article > h1:first-of-type {
  /* The default margin of the first heading extends above the article, which
     complicates layout a bit. We have top-padding on the article itself. */
  margin-top: 0;
}

article p {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}

/* Inline TOC */

.inline-toc {
  /* Only visible in narrow layout. */
  display: none;
}

.inline-toc ol {
  list-style: disc;
}

/* RHS TOC */
.rhs-toc {
  position: fixed;
  top: var(--header-height);
  right: 0;
  width: var(--rhs-toc-width);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  font-size: 12px;
  box-sizing: border-box;
  padding: 60px 24px 0 24px;
}

.rhs-toc > h2 {
  color: #4a4a4a;
  margin-bottom: 20px;
}

/* First level */
.rhs-toc > div > ol {
  padding-left: 0;
  list-style: none;
}

/* Second level */
.rhs-toc > div > ol > li > ol {
  padding-left: 0;
  list-style: none;
}

.rhs-toc a {
  padding: 4px 0;
  display: block;
}

.rhs-toc > div > ol > li > a {
  padding-left: 12px;
}

.rhs-toc > div > ol > li > ol > li > a {
  padding-left: 24px;
}

.rhs-toc a {
  color: #383838;
  border-left: 3px solid #eee;
}

.rhs-toc a.active {
  border-color: #1e88e5;
  font-weight: 500;
}

.rhs-toc a:hover {
  color: black;
  border-color: #9a9a9a;
}

/* Slightly narrow layout (hide RHS TOC) */

@media (max-width: 899px) {
  .inline-toc {
    display: initial;
  }
  .inline-toc summary {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  article {
    margin-right: 0;
  }
  .rhs-toc {
    display: none;
  }
}

/* Very narrow layout (hide LHS nav) */

@media (max-width: 699px) {
  .lhs-nav {
    display: none;
  }
  article {
    margin-left: 0;
  }
}
