@import url('./home/1-splash.css');
@import url('./home/2-use-cases.css');
@import url('./home/3-simplicity.css');
@import url('./home/4-advantages.css');
@import url('./home/5-who-is-using.css');
@import url('./home/6-get-started.css');
@import url('./home/7-connect.css');

html {
  --home-side-margin: 2rem;
}

/* Fading lit-logo (see home.js) */

#headerLogo {
  opacity: 0;
  transition: opacity 500ms;
}

.splashLogoScrolled #headerLogo {
  opacity: 1;
}

/* Copy */

p {
  line-height: 1.9em;
}

/* Bold uppercase links */

.homeBoldLink {
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  padding: 1em 0;
  font-size: 0.88889em;
  border-bottom: 2px solid var(--color-blue);
}

.homeBoldLink:hover {
  color: white;
  background: black;
  padding: 1em 0.5em;
  margin: 0 -0.5em;
}

/* Large section headings with blue underline */

.homeSectionHeading {
  font-size: 1.5em;
  font-weight: 500;
  border-bottom: 2px solid var(--color-blue);
  padding: 0.7em 0;
  margin: 0;
}

/* Example code snippets */

.homeExample {
  background: white;
}

.homeExample > h4 {
  background: var(--color-blue);
  color: white;
  margin: 0;
  font-size: 1.em;
  font-weight: 500;
  padding: 0.88em 1.8em;
  height: 1.4em;
  display: flex;
  align-items: center;
}

.homeExample .CodeMirror {
  margin: 0;
  padding: 1.2em 1.3em;
  border: none;
  font-size: 0.77778em;
}

.homeExample .CodeMirror-line {
  /* TODO(aomarks) This should be done somewhere broader (probably Playground
     styles). Remove 4px left padding from CodeMirror styles. We have an outer
     padding in em units. */
  padding: 0 !important;
}

.homeExample .divider {
  border-bottom: 0.08em solid #dfdfdf;
  margin: 0 1.76em;
  height: 0;
}
