/* General */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #3e3e3e;
  --header-height: 60px;
  --footer-height: 180px;
  --toc-width: 300px;
  --main-max-width: 1200px;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: #1e88e5;
}

article a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

main {
  max-width: var(--main-max-width);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  margin: auto;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  padding: 24px;
  height: var(--footer-height);
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  line-height: 1.9em;
}

footer .social-links a {
  padding: 10px 6px;
  display: inline-flex;
}

/* Header */

header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  /* CodeMirrors have a very high z-index for some reason. */
  z-index: 4;
  background: white;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
}

header .menu-button-and-title {
  display: flex;
  align-items: center;
}

header > nav {
  width: 100%;
  max-width: var(--main-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title {
  font-size: 34px;
  font-weight: 400;
  color: #1e88e5;
  margin-left: 24px;
}

header .top-nav {
  height: 100%;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header .top-nav li {
  height: 100%;
}

header .top-nav a {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid 2px transparent;
  padding: 0 12px;
  box-sizing: border-box;
}

header .top-nav .active a {
  border-color: #1e88e5;
}

header .top-nav a:hover {
  border-color: #d4d4d4;
}

header .action-buttons {
  display: flex;
}

header a {
  color: inherit;
}

header .icon {
  padding: 12px;
  display: flex;
}

header .menu-button {
  display: none;
}

.search-box {
  display: none;
}

@media (max-width: 699px) {
  header .menu-button {
    display: flex;
  }

  /* Eliminate sizing FOUC before menu button upgrades. */
  header mwc-icon-button:not(:defined) {
    padding: 12px;
  }

  header .title {
    margin-left: 0;
  }

  header .top-nav {
    display: none;
  }
}

/* Navigation (can either be in drawer or LHS column) */

.site-nav {
  font-size: 14px;
}

.site-nav > ol {
  padding-left: 29px;
}

.site-nav li {
  list-style: none;
}

.site-nav .section-head {
  color: black;
  padding: 2px 14px;
  margin-left: -17px;
  font-weight: 500;
}

.site-nav a {
  display: block;
  color: inherit;
  margin-bottom: 3px;
  padding: 3px 12px;
}

.site-nav .active {
  color: #005ad6;
  background-color:#e8f0fe;
  border-radius: 10px;
}

.site-nav a:hover {
  background-color:#f1f3f4;
  border-radius: 10px;
}

.site-nav ol ol {
  padding-left: 8px;
  margin: 8px 0 12px 0;
}

/* Don't render drawer slotted children before it upgrades. */
mwc-drawer:not(:defined) {
  display: none;
}

mwc-drawer .site-nav > ol {
  padding: 0 24px;
}

/* The first section in the narrow-layout drawer is top-level site pages, and
   underneath is e.g. the guide sub-pages. Visually separate these a bit. */
mwc-drawer .site-nav > ol > li:nth-child(2) {
  margin-top: 18px;
  border-top: 1px solid #ccc;
  padding-top: 24px;
}

/* Code style */

body {
  --playground-code-font-family: "Roboto Mono", monospace;
  --playground-code-font-size: 13px;
}

/* inline code fragments */ code:not([class]),
/* eleventy markdown pre */ pre.highlight,
.CodeMirror {
  font-family: "Roboto Mono", monospace !important;
  border-radius: 6px;
  font-size: 13px !important;
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 12px 12px 0 12px;
  /* The default CodeMirror stylesheet fixes height to 300px. */
  height: unset !important;
}

.CodeMirror-line {
  white-space: pre-wrap !important;
  /* These are already included in codemirror.css, but we don't block rendering
     on that stylesheet, so we include them here too so that sizing is already
     correct, and it's just colors that load in. */
  font-family: inherit;
  padding: 0 4px;
  margin: 0;
}

code:not([class]) {
  padding: 0 6px;
}

pre.highlight {
  padding: 12px;
}
