body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #222222;
  /* background: #eceff1; */
  background: white;
  line-height: 1.8;

  --top-bar-height: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2em;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
}

/* Top nav */
.main-nav {
  height: var(--top-bar-height);
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  display: flex;
  padding-left: 36px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  z-index: 1000;
  background: inherit;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav .nav-title {
  font-size: 34px;
  font-weight: 400;
  /* font-style: italic; */
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #1e88e5;
}

.main-nav .flex {
  flex: 1;
}

.main-nav .nav-item {
  /* font-size: 14px; */
  padding: 18px 12px;
  align-self: stretch;
}

.main-nav .nav-item.active {
  color: #1e88e5;
  border-bottom: solid 2px #1e88e5;
}

.main-nav .icon {
  padding: 0 12px;
  width: 24px;
  height: 24px;
  background-size: cover;
}

.main-nav .search-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-appearance: none;
}

.main-nav .search-box:focus {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

/** Main content */

main {
  padding: 24px;
}

/** Hero */

.hero {
  margin: 100px auto;
  max-width: 800px;
  text-align: center;
}

.hero-title {
  position: relative;
  margin-bottom: -14px;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.3em;
  color: #1e88e5;
}

.hero-title::after {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 48px;
  content: "";
}

.hero-caption {
  font-size: 28px;
  font-weight: 300;
  color: #808080;
}

/** Main Example */

.wrapper.example {
  max-width: 660px;
  margin: 48px auto;
}

.example .CodeMirror {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 0 20px;
  overflow-y: auto !important;
  margin-bottom: 20px;
}

/** Use Cases */

.use-case-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #a5d3ff 0%,#69b6ff 100%);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
}

@media (min-width: 900px) {
  #use-cases {
    margin: 0 -24px;
  }
  .wrapper.use-cases {
    /* max-width: 800px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 24px;
    /* color: white; */
    padding: 48px 24px;
    margin: 0 auto;
  }
  .use-case-card {
    margin: 0;
  }
}

.use-case-card h3 {
  flex: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  letter-spacing: .5px;
  margin-top: 0;
  color: #002e5a;
  font-weight: 400;
}

.use-case-card > p {
  flex: auto;
  margin-top: 0;
}

.learn-more {
  flex: 0;
  text-align: right;
}

.learn-more > a {
  color: inherit;
  text-decoration: none;
  border: solid 1px #00000044;
  padding: 4px 8px;
  border-radius: 5px;
}

.learn-more > a:hover {
  text-decoration: underline;
}

/** Features */

section#features {
  background: #1e88e5;
  color: white;
  column-width: 400px;
  column-gap: 48px;
  padding: 24px;
  margin: 0 -24px;
}


.feature-card {
  display: flex;
  line-height: 1.4;
  padding-bottom: 24px;
  break-inside: avoid;
}

.feature-card-icon {
  align-self: baseline;
  background: #69b6ff88;
  --mdc-icon-size: 48px;
  --mdc-icon-font: 'Material Icons Outlined';
  border-radius: 50%;
  padding: 8px;
  margin-right: 24px;
}

.feature-card-text h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  letter-spacing: .5px;
  margin-top: 0;
}

/** Used By */

.used-by-logos {
  text-align: center;
}

.used-by {
  display: inline-block;
  filter: grayscale(100%);
  opacity: 70%;
  margin: 24px;
  zoom: 50%;
  vertical-align: middle;
}

.used-by:hover {
  filter: none;
  opacity: unset;
}

#used-by h2 {
  text-align: center;
  font-weight: 400;
  margin-top: 48px;
  color: #4c4c4c;
  font-size: 28px;
}

/** Guide */

.alert {
  position: relative;
  margin: 24px 0;
  padding: 1px 20px 1px 56px;
  box-shadow: 0 0 2px #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

.alert::before {
  position: absolute;
  top: 17px;
  left: 17px;
}

.alert.alert-info::before {
  content: url(/images/alerts/info.svg);
}

.alert.alert-warning::before {
  content: url(/images/alerts/warning.svg);
}

main.wrapper {
  display: flex;
}

.side {
  flex: 0 0 280px;
}

.side > nav,
.side > side-nav {
  font-family: 'Roboto';
  position: sticky;
  top: var(--top-bar-height);
  padding: 16px;
}

.side > nav.toc {
  font-size: .9em;
  color: #444;
}

div.toc {
  padding-left: 16px;
  border-left: solid 2px #eee;
}

.side > nav > ul,
.side > side-nav > ul {
  padding: 0;
}

/** First level of side-nave is large */
.side > nav > ul > li,
.side > side-nav > ul > li {
  font-size: 1.1em;
  font-weight: 500;
}

/** Second level is small */
.side > nav > ul > li > ul,
.side > side-nav > ul > li > ul {
  font-size: .9rem;
  font-weight: 400;
  margin-left: 4px;
  padding-left: 16px;
  border-left: solid 2px #eee;
}

.side > nav li,
.side > side-nav li,
.side > nav.toc li {
  margin: 6px 0;
}

.side > nav a,
.side > side-nav a {
  color: inherit;
  text-decoration: none;
}

.side a:hover {
  border-bottom: solid 2px #1e88e5;
}

.side > nav li,
.side > side-nav li {
  list-style: none;
}

.side > nav.toc > h2 {
  /* text-transform: uppercase; */
  font-size: 1.1rem;
}

.side > nav.toc > div.toc > ol {
  padding-left: 0;
  list-style: none;
}

main > nav.toc > div.toc > ol a {
  color: inherit;
  text-decoration: none;
}

main > nav.toc > div.toc > ol a:hover {
  color: blue;
  /* text-decoration: underline; */
}

/* Footer */
footer {
  background: #f5f5f5;
  margin-top: 32px;
  text-align: center;
}

footer .wrapper {
  padding-top: 24px;
  /* No spacing between child elements. */
  font-size: 0px;
}

footer .group {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  margin: 0 40px 24px 0;
}

footer .attribution {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #999;
}

footer .social-links {
  margin: -8px 0 24px -8px;
}

footer .social-links a {
  display: inline-block;
  padding: 8px;
}

footer .social-links img {
  width: 24px;
  height: 24px;
}

.wrapper.example {
  overflow-x: auto;
}
.wrapper.example .CodeMirror {
   overflow: unset;
}

.CodeMirror {
  /** The default CodeMirror stylesheet fixes height to 300px. */
  height: unset !important;
}

.CodeMirror {
   font-family: "Roboto Mono", monospace !important;
   font-size: 13px !important;
}

.CodeMirror-line {
  white-space: pre-wrap !important;
}
