/* ------------------------------------
 * docsNavFlat
 * ------------------------------------ */

.docsNavFlat #docsNav > ol > li > ol {
  padding-left: 0;
}

.docsNavFlat #docsNav {
  font-size: 0.9em;
  line-height: 1.8em;
}

.docsNavFlat .sectionHead {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.95em;
  opacity: 0.5 !important;
}

.docsNavFlat #docsNav a {
  font-size: 0.9em;
  opacity: 1;
}

.docsNavFlat #docsNav > ol > li:not(:first-of-type) {
  /* Space between top-level lists */
  margin-top: 2em;
}

.docsNavFlat #docsNav > ol > li > ol {
  /* Space between heading and second level items */
  padding-top: 0.4em;
}

.docsNavFlat #docsNav .active a {
  font-weight: 600;
}

/* ------------------------------------
 * codeDark
 * ------------------------------------ */

.codeDark,
.codeDark .CodeMirror {
  --playground-code-background: #1e1e1e;
  --playground-code-default-color: #d4d4d4;
  --playground-code-keyword-color: #569cd6;
  --playground-code-atom-color: #569cd6;
  --playground-code-number-color: #b5cea8;
  --playground-code-def-color: #9cdcfe;
  --playground-code-variable-color: #9cdcfe;
  --playground-code-property-color: #9cdcfe;
  --playground-code-operator-color: #569cd6;
  --playground-code-variable-2-color: #9cdcfe;
  --playground-code-variable-3-color: #d4d4d4;
  --playground-code-type-color: #4ec9b0;
  --playground-code-comment-color: #6a9955;
  --playground-code-string-color: #ce9178;
  --playground-code-string-2-color: #ce9178;
  --playground-code-meta-color: #d4d4d4;
  --playground-code-qualifier-color: #d7ba7d;
  --playground-code-builtin-color: #d7ba7d;
  --playground-code-tag-color: #808080;
  --playground-code-attribute-color: #9cdcfe;
  --playground-code-callee-color: #dcdcaa;
