body {
  /* TODO(aomarks) Shouldn't really need this, but when the preview height is
     dragged too high, it causes extra space to be consumed below, and the
     entire viewport scrolls. There must be a flexbox configuration that will do
     the right thing automatically here. */
  overflow-y: hidden;
}

main {
  display: flex;
  /* Account for removed footer height. */
  min-height: calc(100vh - var(--header-height));
  --litdev-drawer-header-height: 3.4em;
  --litdev-drawer-open-width: 280px;
  --litdev-drawer-closed-width: 2.5rem;
  --example-drawer-padding: 2em;
  --litdev-drawer-transition-duration: 200ms;
  font-family: "Open Sans", sans-serif;
}

footer {
  /* No footer on full screen UI. */
  display: none;
}

/* example drawer */

litdev-drawer {
  width: var(--litdev-drawer-open-width);
  background: var(--color-dark-gray);
  color: white;
  height: calc(100vh - var(--header-height));
  z-index: 1;
}

litdev-drawer:not(:defined) > * {
  display: none;
}

litdev-drawer:not([closed])::part(header) {
  background: #333;
}

#exampleContent {
  overflow-y: auto;
  height: 100%;
}

#exampleHeading {
  font-size: 1em;
  font-weight: 500;
  padding-left: var(--example-drawer-padding);
}

.exampleSectionHeading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 0;
  padding-left: var(--example-drawer-padding);
}

.exampleList {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}

.exampleItem {
  font-size: 16px;
}

.exampleItem > a {
  display: block;
  color: white;
  padding: 6px var(--example-drawer-padding);
}

.exampleItem > a:hover {
  text-decoration: underline;
}

.exampleItem.active > a {
  position: relative;
  font-weight: bold;
}

.exampleItem.active > a::before {
  content: '';
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 3"><rect style="fill:%2300e8ff" width="2" height="2" x="1" y="-1" transform="rotate(45)"/></svg>');
  width: 12px;
  height: 12px;
  position: absolute;
  left: 10px;
  top: 12px;
}

/* Right side */

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* Prevent CodeMirror content size from affecting us here. */
  min-width: 0;
}

/* Action bar */

#actionBar {
  flex: 0 0 var(--litdev-drawer-header-height);

  /* Sometimes layout doesn't keep up with the example drawer animation, so a
  white line appears. Shifting the bar slightly behind the drawer hides this
  effect. */
  z-index: 0;
  margin-left: -100px;
  padding: 0 1.3em 0 calc(100px + 1em);
  box-sizing: border-box;

  background: var(--color-blue);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#actionBar > button {
  font-family: "Open Sans", sans-serif;
  background: transparent;
  border: 1px solid currentcolor;
  padding: 0.3em 0.5em;
  display: flex;
  color: inherit;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1em;
}

#actionBar > button:hover {
  background: blue;
}

#actionBar > button > svg {
  margin-right: 1em;
}

#tabsEditorAndPreview {
  flex: 1;
  display: flex;
}

#tabsAndEditor {
  width: var(--tabs-and-editor-width, 60%);
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

/* Playground */

playground-file-editor {
  flex: 1 0 0;
}

playground-preview {
  flex: 1;
  height: unset;
  min-width: 200px;
  /* Eat space taken by the resize-bar */
  margin-left: -3px;
}

/* Resize bars */

resize-bar {
  flex: 0 0 auto;
}

resize-bar[active] {
  background: var(--color-dark-cyan);
}

#verticalResizeBar {
  display: none;
}

@media (max-width: 864px) {
  #tabsEditorAndPreview {
    flex-direction: column;
  }
  #tabsAndEditor {
    width: initial;
    flex: 1;
  }
  playground-file-editor {
    min-height: 100px;
  }
  playground-preview {
    flex: 0 0 var(--preview-height, 45%);
    min-height: 200px;
    /* Eat space taken by the resize-bar */
    margin-left: 0;
    margin-top: -3px;
  }
  #verticalResizeBar {
    display: initial;
  }
  #horizontalResizeBar {
    display: none;
  }
}
