html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

playground-ide {
  flex: 1;
  height: 100%;
}

div.tutorial {
  display: flex;
  flex: 1;
}

div.contents {
  flex: 0 0 12em;
}
