main,
.not-featured {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.category-title {
  padding-block-start: 0.3em;
  font-size: 2.2em;
  font-weight: 400;
  margin: 0;
}

.category-subtitle {
  padding-block-end: 0.8em;
  margin-block-end: 1.3em;
  border-block-end: 2px solid var(--color-blue);
}

.tutorial-category {
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.card-grid {
  --tutorial-card-width: 300px;
  --_unit: calc(var(--tutorial-card-width) / 10);
  padding: var(--_unit);
  display: grid;
  gap: var(--_unit);
  grid-template-columns: repeat(3, 1fr);
}

.featured,
.not-featured {
  padding-block: 2em;
}

.not-featured {
  background-color: var(--color-light-gray);
}

@media (max-width: 1021px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 690px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}