litdev-version-selector > select {
  background: transparent;
  border-radius: 8px;
  border: 1.5px solid var(--sys-color-outline-variant);
  color: currentColor;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  margin-left: -3px;
  padding: 1px 3px;
}

litdev-version-selector > select:hover,
litdev-version-selector > select:focus,
.active > litdev-version-selector > select {
  color: var(--sys-color-primary);
}

#mobileSiteNav litdev-version-selector > select {
  border-color: currentColor;
  color: currentColor;
  margin-left: 5px;
}
