.DS_Store

node_modules

packages/*/lib/

packages/lit-dev-content/_site
packages/lit-dev-content/_dev
packages/lit-dev-content/rollupout
packages/lit-dev-content/site/fonts
packages/lit-dev-content/temp
packages/lit-dev-content/samples/js

packages/lit-dev-api/api-data/*/repo/

# We only want to keep '-linux' screenshots which are tested by Github Actions.
packages/lit-dev-tests/src/playwright/**/*.png
!packages/lit-dev-tests/src/playwright/**/*-linux.png
test-results

*.tsbuildinfo
lerna-debug.log
