.DS_Store

node_modules

packages/*/lib/
packages/*/index.js
packages/*/index.js.map
packages/*/index.d.ts
packages/*/index.d.ts.map

packages/lit-dev-content/_site
packages/lit-dev-content/_dev
packages/lit-dev-content/site/_includes/js/
packages/lit-dev-content/playground-plugin

packages/lit-dev-api/lit/
packages/lit-dev-api/api-data/**/*
!packages/lit-dev-api/api-data/.gitkeep

*.tsbuildinfo
lerna-debug.log
