#new-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  background-color: var(--sys-color-primary);
  color: var(--sys-color-on-primary);
}

#new-banner > p {
  text-align: center;
  padding: 2px 5px 2px 5px;
  margin: 0px;
  font-size: 18px;
}

#new-banner a {
  color: var(--sys-color-on-primary);
  font-weight: 800;
}

#new-banner a:hover {
  text-decoration: underline;
}

#new-banner .emoji {
  margin-right: 10px;
}

#intro {
  display: flex;
  align-items: center;
  padding: 120px 0 140px 0;
  position: relative;
  z-index: 0;
  background-color: var(--sys-color-surface-container-lowest);
  color: var(--sys-color-on-surface);
  justify-content: center;
  align-items: flex-end;
}

#splashLogo {
  margin-right: 60px;
}

#splashLogo > svg {
  display: block;
  width: 286.875px;
  height: 135px;
}

#splashLogoHeaderOffset {
  margin-top: calc(-1 * var(--header-height));
  position: absolute;
}

#tagline {
  color: var(--sys-color-on-background-dim);
  font-size: 20px;
  font-weight: 800;
  margin: 0 60px -9px 0;
  width: 182px;
}

#tagline > span {
  display: block;
}

#splashButtons {
  display: flex;
  flex-direction: column;
}

#splashButtons > * {
  width: 200px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#npmInstall {
  font-family: var(--playground-code-font-family);
  background-color: var(--sys-color-surface-container-highest);
  color: var(--sys-color-on-surface);
  border: var(--litdev-dark-border);
  margin-bottom: 8px;
  font-size: 16px;
}

#npmInstall:hover,
#npmInstall:focus {
  background-color: var(--sys-color-surface-container-low);
}

#npmInstall > .prompt {
  margin-right: 10px;
  user-select: none;
}

#getStartedLink {
  background-color: var(--sys-color-primary);
  color: var(--sys-color-on-primary);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

#getStartedLink:hover,
#getStartedLink:focus {
  background-color: var(--sys-color-primary-container);
  color: var(--sys-color-on-primary-container);
}

@media (max-width: 900px) {
  #new-banner > p {
    font-size: 16px;
  }

  #intro {
    flex-direction: column;
    align-items: center;
  }

  #splashLogo {
    margin: 0;
  }

  #tagline {
    margin: 40px 0;
    text-align: center;
    font-size: 20px;
    width: auto;
  }

  #tagline > span {
    display: inline;
  }

  #npmInstall {
    margin-bottom: 15px;
  }
}
