#advantages {
  background: white;
  margin: 0 var(--home-side-margin);
}

#advantagesItems {
  display: flex;
  max-width: var(--content-max-width);
  margin: auto;
  padding: 3em 0;
  border-top: 2px solid var(--color-blue);
}

#advantagesItems > .item {
  flex: 1;
  padding: 0 1.5em;
  border-right: 2px solid #bbb;
}

#advantagesItems > .item:first-of-type {
  padding-left: 0;
}

#advantagesItems > .item:last-of-type {
  padding-right: 0;
  border-right: none;
}

#advantagesItems > .item > .heading {
  display: flex;
  align-items: center;
}

#advantagesItems > .item > .heading > img {
  width: 70px;
  height: 70px;
  /* SVG has a bunch of extra padding */
  margin-left: -20px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#advantagesItems > .item > .heading > h1 {
  color: var(--color-blue);
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

#advantagesItems > .item > p:first-of-type {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  #advantagesItems {
    flex-direction: column;
  }

  #advantagesItems > .item {
    padding: 1em 0;
  }

  #advantagesItems > .item:not(:last-of-type) {
    border-right: none;
    border-bottom: 2px solid #bbb;
  }
}
