#tour {
  padding: 7em var(--home-side-margin) 6em var(--home-side-margin);
}

#tour > * {
  max-width: var(--content-max-width);
  margin: auto;
}

#tourCodeAndNotes {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#tourCode {
  width: 620px;
  --playground-code-background: #fdfdfd;
  --playground-code-padding: 1.5em 2em;
  --playground-code-font-size: 16px;
  position: sticky;
  top: calc(var(--header-height) + 2em);
  align-self: flex-start;
}

#tourCode figure {
  border: 1px solid #d1d1d1;
  box-shadow: rgb(0 0 0 / 10%) 0px 0 5px 0px;
  margin: 0;
}

#tourJsCode > figure,
#tourTsCode > figure {
  /* Extra room for the JS/TS switch */
  padding-top: 3em;
  /* Space between JS/TS and HTML */
  margin-bottom: 2em;
}

#tourJsTsSwitch {
  position: absolute;
  top: 20px;
  right: 25px;
  --mdc-theme-secondary: #0a7dff;
  --mdc-typography-body2-font-size: 17px;
  --mdc-theme-text-primary-on-background: #444;
  zoom: 90%;
}

#tourCode .tourHighlight {
  position: absolute;
  transition: width 300ms;
  transform: skew(-6deg);
}

#tourCode .tourHighlight:hover,
#tourCode .tourHighlight.active {
  cursor: pointer;
  background: rgb(255, 238, 0);
}

#tourCode .CodeMirror-line,
#tourCode .CodeMirror-line > span {
  position: relative;
}

#tourNotes {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: -1.6em;
  margin-bottom: -1.3em;
  position: sticky;
  top: calc(var(--header-height));
  justify-content: space-between;
  outline: none;
}

#tourNotes > div {
  max-width: 680px;
  border-left: 4px solid transparent;
}

#tourNotes > div > h2 {
  font-size: 18px;
  font-weight: 600;
  color: #666;
}

#tourNotes > div.active {
  background: white;
  border-color: #325cff;
  box-shadow: rgb(0 0 0 / 20%) 0px 0 5px 0px;
  margin: 0 -1em 0 -1em;
  padding: 0 1em 0 1em;
  cursor: pointer;
  outline: none;
}

#tourNotes > div:focus {
  outline: none;
}

#playgroundLinkContainer {
  display: flex;
  width: 620px;
  margin: 0;
}

#playgroundLink {
  background: #325cff;
  color: white;
  padding: 10px 30px;
  margin-top: 2em;
  text-align: center;
  margin-left: auto;
}

#playgroundLink:hover {
  background: blue;
}

@media (max-width: 1200px) {
  #tourCode {
    --playground-code-font-size: 14px;
    width: 540px;
  }

  #tourNotes {
    font-size: 16px;
  }

  #playgroundLinkContainer {
    width: 540px
  }
}

@media (max-width: 1000px) {
  #tour {
    padding-top: 0;
  }

  #tourCodeAndNotes {
    flex-direction: column;
  }

  #tourCode {
    width: 100%;
    position: static;
  }

  #tourCode figure {
    margin: 2em calc(-1  * var(--home-side-margin));
    border-left: none;
    border-right: none;
  }

  #tourJsTsSwitch {
    position: absolute;
    top: 45px;
    right: -20px;
  }

  #tourNotes {
    margin-left: 0;
    margin-top: 1em;
  }

  #playgroundLinkContainer {
    width: 100%;
  }

  #playgroundLink {
    margin-left: auto;
    margin-right: auto;
  }
}
