#advantages {
  background: white;
  padding: 2em var(--home-side-margin) 1.5em var(--home-side-margin);
  display: flex;
  justify-content: center;
}

#advantagesItems {
  display: grid;
  max-width: var(--content-max-width);
  grid-template-columns: repeat(2, 1fr);
}

#advantagesItems > .item {
  flex: 1;
  padding: 1.5em;
}

#advantagesItems > .item > .heading {
  display: flex;
  align-items: center;
}

#advantagesItems > .item > .heading > img {
  width: 70px;
  height: 70px;
  /* SVG has a bunch of extra padding */
  margin-left: -20px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#advantagesItems > .item > .heading > h2 {
  font-weight: 500;
  font-size: 32px;
  margin: 0;
  color: var(--color-blue);
}

#advantagesItems > .item > h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 1.5em;
}

@media (max-width: 750px) {
  #advantagesItems {
    grid-template-columns: repeat(1, 1fr);
  }

  #advantagesItems > .item {
    padding: 1em 0;
  }

  #advantagesItems > .item:not(:last-of-type) {
    border-right: none;
  }
}
