#advantages {
  background: white;
  border: solid #d1d1d1;
  border-width: 1px 0;
  padding: 3em var(--home-side-margin) 2.5em var(--home-side-margin);
}

#advantagesItems {
  display: flex;
  max-width: var(--content-max-width);
  margin: auto;
}

#advantagesItems > .item {
  flex: 1;
  padding: 0 1.5em;
  border-right: 1px solid #ccc;
}

#advantagesItems > .item:first-of-type {
  padding-left: 0;
}

#advantagesItems > .item:last-of-type {
  padding-right: 0;
  border-right: none;
}

#advantagesItems > .item > .heading {
  display: flex;
  align-items: center;
}

#advantagesItems > .item > .heading > img {
  width: 70px;
  height: 70px;
  /* SVG has a bunch of extra padding */
  margin-left: -20px;
  margin-top: -10px;
  margin-bottom: -10px;
}

#advantagesItems > .item > .heading > h2 {
  font-weight: 500;
  font-size: 32px;
  margin: 0;
}

@media (max-width: 1000px) {
  #advantagesItems {
    flex-direction: column;
  }

  #advantagesItems > .item {
    padding: 1em 0;
  }

  #advantagesItems > .item:not(:last-of-type) {
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
}
