#getStarted {
  padding: 2.5em var(--home-side-margin) 5em var(--home-side-margin);
  background: white;
  border-top: 1px solid #d1d1d1;
}

#getStarted > h2 {
  margin-bottom: 1em;
  max-width: var(--content-max-width);
  margin: auto;
}

#getStartedItems {
  display: flex;
  justify-content: space-between;
  max-width: var(--content-max-width);
  margin: auto;
}

#getStartedItems > div {
  max-width: 18em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

#getStartedItems > div:not(:first-child) {
  margin-left: 1em;
}

#getStartedItems > div > h3 {
  flex: 1;
  color: var(--color-blue);
  font-size: 1.2em;
  font-weight: 500;
}

@media (max-width: 1000px) {
  #getStarted {
    padding-bottom: 1em;
  }

  #getStarted > h2 {
    margin-top: 0;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
  }

  #getStartedItems {
    display: block;
  }

  #getStartedItems > div {
    display: block;
    margin-bottom: 3em;
    max-width: unset;
  }

  #getStartedItems > div:not(:first-child) {
    margin-left: 0;
  }

  #getStartedItems > div > h3 {
    flex: 0;
    line-height: 1.7em;
  }
}
