#exploreLitWrapper {
  background: var(--color-light-gray);
}

#exploreLit {
  max-width: var(--content-max-width);
  margin: auto;
  padding: 2.5em var(--home-side-margin) 5em var(--home-side-margin);
}

#exploreLit > h2 {
  margin-bottom: 1em;
}

#exploreLitItems {
  display: flex;
  justify-content: space-between;
}

#exploreLitItems > div {
  max-width: 18em;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#exploreLitItems > div > h3 {
  color: var(--color-blue);
  flex: 1;
  font-size: 1.2em;
  font-weight: 500;
}

@media (max-width: 1000px) {
  #exploreLit > h2 {
    margin-top: 0;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
  }

  #exploreLitItems {
    display: block;
  }

  #exploreLitItems > div {
    margin-bottom: 3em;
    max-width: unset;
  }

  #exploreLitItems > div > h3 {
    line-height: 1.7em;
  }
}
