#useCases {
  max-width: var(--content-max-width);
  padding: 4em var(--home-side-margin) 2em var(--home-side-margin);
  margin: auto;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-items: start;
  align-items: start;
}

#useCases > h2 {
  grid-column: 1 / -1;
  width: 100%;
  padding-top: 0;
  margin-bottom: 3em;
}

#useCases > svg {
  width: 150px;
  height: 150px;
  margin: 0 5em 4em var(--home-side-margin);
}

#useCases > .prose {
  margin: 0 var(--home-side-margin) 4em 0;
}

#useCases > .prose > h3 {
  color: var(--color-blue);
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0 0.6em 0;
}

#useCases > .prose > a {
  display: inline-block;
  margin-top: 1.5em;
}

/* ------------------------------------
 * Above/below when narrow
 * ------------------------------------ */

@media (max-width: 1000px) {
  #useCases {
    display: block;
  }

  #useCases > img {
    width: 7em;
    height: 7em;
    margin-bottom: 1em;
  }
}
