#whoIsUsingWrapper {
  background: var(--color-medium-light-gray);
}

#whoIsUsing {
  max-width: var(--content-max-width);
  margin: auto;
  padding: 2.5em var(--home-side-margin) 5em var(--home-side-margin);
}

#whoIsUsingLogos {
  padding: 14em var(--home-side-margin) 8em var(--home-side-margin);
  max-width: var(--content-max-width);
  display: flex;
  justify-content: space-between;
  color: var(--color-dark-gray);
}

#whoIsUsingLogos > svg {
  height: 2.5em;
  width: 9em;
}

@media (max-width: 1000px) {
  #whoIsUsing {
    padding: 3em var(--home-side-margin);
  }
  #whoIsUsingLogos {
    flex-direction: column;
    align-items: center;
  }
  #whoIsUsingLogos > svg:not(:first-of-type) {
    margin-top: 3em;
  }
}
